In [ ]:
#Q1 Create one variable
j="JAY KUMAR"    #string
l=[1,2,32+4j,"jay"]  #List
k=30.40            #Float
m=("JAY KUMAR",2,3,2+3j)  #Tuple
print(type(j))
print(type(l))
print(type(k))
print(type(m))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [ ]:
#Q2 Determine the type
var1 =""
var2 ="[ DS, ML,Python]"
var3 = [ "DS" ,"ML" , "Python" ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
#Q3. Explain the use of the following operators using an example:

#(i)	/
a=20/3
print(a)
#(ii)	%
b=20%3
print(b)
#(iii)	//
c=20//3
print(c)
#(iv)	**
d=20**3
print(d)

6.666666666666667
2
6
8000

In [ ]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
l=[1,2,2+3j,"jay",2.33,True,[1,2,"jay"],(3,4,5,2+3j),44,55]
for j in l:
  print(j)
  print(type(j))

1
<class 'int'>
2
<class 'int'>
(2+3j)
<class 'complex'>
jay
<class 'str'>
2.33
<class 'float'>
True
<class 'bool'>
[1, 2, 'jay']
<class 'list'>
(3, 4, 5, (2+3j))
<class 'tuple'>
44
<class 'int'>
55
<class 'int'>

In [ ]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible"""
a=int(input("Enter Value of A"))
b=int(input("Enter Value of B"))
i=0
if a//b !=0:
  print("A is Divisible by B")
  while a % b==0:
    i=i+1
    a=a//b
  print(i)
else:
  print("A is Not Divisible by B")

Enter Value of A200
Enter Value of B2
A is Divisible by B
3

In [ ]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
n=0
l=[]
while n<25:
  n+=1
  m=int(input("Enter the value :"))
  l.append(m)
print(l111)
for i in range(len(l)):
  print(l[i])
  if l[i]%3 ==0:
    print("element is divisible by 3")
  else:
    print("element is not  divisible by 3")

Enter the value :1
Enter the value :2
Enter the value :3
Enter the value :4
Enter the value :5
Enter the value :6
Enter the value :7
Enter the value :8
Enter the value :9
Enter the value :10
Enter the value :11
Enter the value :11
Enter the value :12
Enter the value :13
Enter the value :15
Enter the value :6
Enter the value :11
Enter the value :13
Enter the value :2
Enter the value :1
Enter the value :22
Enter the value :333
Enter the value :444
Enter the value :555
Enter the value :666
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 12, 13, 15, 6, 11, 13, 2, 1, 22, 333, 444, 555, 666]
1
element is not  divisible by 3
2
element is not  divisible by 3
3
element is divisible by 3
4
element is not  divisible by 3
5
element is not  divisible by 3
6
element is divisible by 3
7
element is not  divisible by 3
8
element is not  divisible by 3
9
element is divisible by 3
10
element is not  divisible by 3
11
element is not  divisible by 3
11
element is not  divisible by 3
12
element is divisible by 3
13
element is not  divisible by 3
15
element is divisible by 3
6
element is divisible by 3
11
element is not  divisible by 3
13
element is not  divisible by 3
2
element is not  divisible by 3
1
element is not  divisible by 3
22
element is not  divisible by 3
333
element is divisible by 3
444
element is divisible by 3
555
element is divisible by 3
666
element is divisible by 3

In [52]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property"""
j="jaykumar yadav"  #immutable
#j[2]=l
l=[1,2,3,4,5,"jay"]
l[2]="kumar"
l
m=(1,2,3,4,5,"jay")
#m[2]="kumar"
print(j)
print(l)
print(m)

jaykumar yadav
[1, 2, 'kumar', 4, 5, 'jay']
(1, 2, 3, 4, 5, 'jay')